<template>
  <div>
    <head>
      <meta charset="UTF-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>Au delà des apparences</title>
      <!-- Link css -->
      <link rel="stylesheet" href="style.css" />
      <!-- icon -->
      <link rel="icon" type="image/png" sizes="16x16" href="img/logo.png" />
      <!-- Font Awesome -->
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      />
      <!-- Google Fonts Roboto -->
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      />
      <!-- footer -->
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        rel="stylesheet"
      />
    </head>
    <div class="header">
      <img src="@/assets/audelapp.png" class="logo" style="max-height: 150px" />
    </div>
    <!-- Première div -->
    <div class="div1">
      <!-- Les 3 Images -->
      <div style="text-align: center">
        <img
          class="image-ronde"
          src="@/assets/squeezie.png"
          alt="Squeezie"
        /><img
          class="image-ronde"
          src="@/assets/will-smith.png"
          alt="Will Smith"
        /><img
          class="image-ronde"
          src="@/assets/daniel.png"
          alt="Studio Daniel"
        />
      </div>
      <!-- Texte+boutons -->
      <div style="height: 150px">
        <p style="color: #f5f5f5; text-align: center">
          Tester vos connaissances en matière d’entrepreneuriat et <br />de
          créateur de contenu !
        </p>
        <br /><button class="bouton" @click="$router.push('/quiz')">Quiz</button>
      </div>
    </div>
    <!-- Deuxième div -->
    <div class="div2">
      <!-- Texte -->
      <div>
        <H2 style="color: #84c5ec; text-align: center"
          >Un univers avec beaucoup d'idées reçues !<br />
        </H2>
      </div>
      <!-- Vidéo -->
      <div>
        <p class="video-container">
          <iframe
            class="video"
            src="https://www.youtube.com/embed/b2khW2w2NiU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
            picture-in-picture"
            allowfullscreen
          ></iframe
          ><br /><br />Une courte video explicative réalisée par nos soins, afin de
          vous montrer qu'il ne faut pas forcement se fier au apparence
        </p>
      </div>
    </div>
    <!-- Troisème div -->
    <div class="div3" style="margin-bottom: 30px">
      <!-- Bloc centre -->
      <div class="container">
        <h2 style="color: #6658a2">
          Les créateurs de contenus, n’ont pas d’âge
        </h2>
        <div class="image-du-container">
          <img
            src="@/assets/daniel-violet.png"
            alt="Daniel"
            style="max-width: 40%"
          />
        </div>
        <p>
          Découvrez des créateurs de contenus tous plus créatifs, les uns comme
          les autres ! Ils communiquent leurs passions ou leur quotidien comme
          cela leur chante.
        </p>
        <br />
        <h2 style="color: #6658a2">Besoin d'explications</h2>
        <br />

        <p>
          Besoin d’être éclairé ? Nous vous expliquons ce qu’est un entrepreneur
          mais aussi un influenceur, soit un créateur de contenu !
        </p>
        <br /><button class="bouton-violet"><span>Voir plus</span></button>
      </div>
    </div>
    <!-- footer -->
    <footer class="social-footer">
      <div class="social-footer-icons width-20 flex justify-space-evenly">
        <a href="https://www.facebook.com/audelapp/"
          ><i class="fa fa-facebook" aria-hidden="true"></i></a
        ><a href="https://www.instagram.com/audela_app/"
          ><i class="fa fa-instagram" aria-hidden="true"></i></a
        ><a href="https://www.linkedin.com/company/au-delà-des-apparences"
          ><i class="fa fa-linkedin" aria-hidden="true"></i
        ></a>
      </div>
      <!-- Copyright -->
      <div class="copyright">© 2020 Copyright : Au delà des apparences</div>
    </footer>
  </div>
</template>
<script>
export default {
  name: 'Home',
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.h2 {
  text-align: center;
}

body {
  font-family: sans-serif;
}

div.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin: 30px 0;
}

img.logo {
  height: 70px;
  width: auto;
}

.div1 {
  background-color: #6558a2;
  padding-top: 10vh;
}

.image-ronde {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: none;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  margin: 0 50px 10px 50px;
}

.bouton {
  background-color: #84c5ec;
  border-radius: 30px;
  width: 230px;
  height: 50px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.bouton-violet {
  background-color: #6658a2;
  border-radius: 30px;
  width: 230px;
  height: 50px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.div2 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

span {
  color: white;
  vertical-align: middle;
}

.video-container {
  text-align: center;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.video {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 630px) {
  .video {
    width: 392px;
    height: 220px;
  }
}

@media screen and (max-width: 450px) {
  .video {
    width: 314px;
    height: 176px;
  }
}

.div3 {
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: #84c5ec;
}

.container {
  margin-top: 10px;
  display: inline-block;
  width: 300px;
  height: 450px;
  background-color: #84c5ec;
}

.image-du-container {
  text-align: center;
  vertical-align: baseline;
}

@media screen and (max-width: 560px) {
  .div3 {
    flex-direction: column;
  }
}

/*footer*/

.social-footer {
  padding: 1rem;
  background: #6658a2;
  display: flex;
  justify-content: space-between;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.copyright {
  text-align: center;
  color: white;
}
</style>
