<template>
  <div class="home">
    <div class="header">
      <img class="logo" src="@/assets/logo.png" />
    </div>
    <div class="purple disclaimer">
      <div class="text">
        <p>
          Les entrepreneurs,
          des travailleurs acharnés
          et passionés qui se livrent
          à leur passion.
        </p>
      </div>
      <div class="discover text-align-last-center">
        <p>Découvrez cela avec Will Smith et Squeezie</p>
      </div>
    </div>
    <div class="double">
      <div class="titre">
        <h3>
          Qui, selon vous...
        </h3>
      </div>
      <div class="titre">
        <h6>
          s'est lié à ses millions de fans
          sur les réseaux ?
        </h6>
      </div>
      <div class="images flex align-items-center justify-space-around flex-wrap">
        <div class="cercle flex flex-column">
          <img src="@/assets/willcercle.png" class="image-ronde" alt="" />
          <button class="custom-button" @click="changeAnswer">Will Smith</button>
        </div>
        VS
        <div class="cercle flex flex-column">
          <img src="@/assets/squeeziecercle.png" class="image-ronde" alt="" />
          <button class="custom-button" @click="changeAnswer">Squeezie</button>
        </div>
      </div>
      <div class="titre" style="text-align: center" v-if="answer">
        <h4>
          La bonne réponse est... les deux !
          Revenons ensemble sur leurs parcours respectifs
        </h4>
      </div>
    </div>
    <div class="people-container flex flex-column align-items-center blue-bg">
      <h3 class="purple--text">Will Smith</h3>
      <div class="flex flex-row flex-wrap full-width justify-space-around">
        <div class="cercle flex align-items-center">
          <img src="@/assets/will.png" class="image-ronde" alt="" />
        </div>
        <div class="description text-align-last-center">
          L’Homme aux multiples succès que les marques s’arrachent.
          Il possède même sa collection ; Prince de Bel-Air !
          <h6 class="purple--text">Là où il entreprend, les succès s'enchaînent</h6>
          Et oui qu’on le veuille ou non, Will Smith est un homme droit et sans
          problèmes d’image. Son charisme, lui vaut une proximité avec ses fans
          en plus d’être un homme naturel, drôle et taquin.
          Saviez-vous que Will Smith a sorti des singles et albums au cours de sa
          carrière ? D’ailleurs, il a une présence sur les réseaux sociaux à la
          fois
          professionnelle mais aussi naturelle, ce qui lui vaut de nombreux
          abonnés.
        </div>
      </div>
    </div>
    <div class="people-container flex flex-column align-items-center purple-bg">
      <h3 class="blue--text">Squeezie</h3>
      <div class="flex flex-row flex-wrap full-width justify-space-around">
         <div class="cercle flex align-items-center">
            <img src="@/assets/squeezie.png" class="image-ronde" alt="" />
          </div>
          <div class="description text-align-last-center white--text">
          L’Homme aux multiples succès que les marques s’arrachent.
          Il enchaîne les partenariats, et possède sa propre marque d’habits ;
          Yoko.
          <h6 class="blue--text">Là où il entreprend, les succès s'enchaînent </h6>
          Trouvez vous cela surprenant que squeezie soit un homme droit, sans
          problèmes d’image. Les réseaux sociaux et les plateformes sont ses
          outils de travail mais aussi de plaisir. Il est très proche de ses
          fans et son image d’homme naturel, drôle et taquin lui vaut toujours
          plus d’abonnés.
          Squeezie connaît encore plus le succès avec son album
          Oxyz et son single Time Time !
          </div>
      </div>
    </div>
    <div class="quiz-container">
      <div class="center">
      <h4>
        Alors...
        ne voyez-vous pas
        des similitudes entre EUX ?
      </h4>
    </div>
    <div>
      <div class="images flex align-items-center justify-space-around flex-wrap">
        <img src="@/assets/smith.png" class="image-ronde" alt="" />
        <img src="@/assets/squee.png" class="image-ronde" alt="" />
      </div>
    </div>
    <div class="center">
      <h1>
        Et oui, Ils font la même chose !
        Ils réalisent du contenu pour divertir leur communauté !
      </h1>
    </div>
    <div class="quiz">
      <button class="custom-button" @click="$router.push('/home')">
        Vous voulez en savoir plus
      </button>
    </div>
</div>
  </div>
</template>

<script>
export default {
  name: 'Landing',
  data() {
    return {
      answer: false,
    };
  },
  methods: {
    changeAnswer() {
      this.answer = true;
    },
  },
};
</script>
<style scoped lang="scss">

body {
   .purple {
    height: 350px;
    background-color: #6658a2;
    width: 100%;
    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 90%;
      width: 100%;
      p {
        color: #84c5ec;
        font-size: 30px;
        text-align: center;
      }
    }
    .discover {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
      p {
        color: #84c5ec;
        font-size: 15px;
        text-align: center;
      }
    }
  }

  h3 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 0 0 50px;
  }

  h4 {
    color: #84c5ec;
    font-size: 24px;
  }

  h5 {
    color: white;
    font-size: 12px;
    margin: 0px;
  }
  h6 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  img.image-ronde {
    @media screen and (max-width: 900px) {
      flex-direction: column;
      width: 150px;
    }
    margin: auto;
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 150px;
  }

  .flex.flex-wrap {
    gap: 20px;
  }

  div.double {
    display: flex;
    flex-direction: column;
    div.titre {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      div.nom {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6658a2;
        border-radius: 50px;
        margin: 25px;
        padding: 5px;
        height: 25px;
        width: 100px;
        margin-right: 260px;
        margin-left: 260px;
      }
    }

    .images {
     @media screen and (max-width: 900px) {
        flex-direction: column;
      }
    }
  }

  .people-container {
    .description {
      max-width: 402px;
      text-align: justify;
    }
  }

  div.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  div.images {
    .image-ronde {
      margin-top: 0px;
    }
  }
  div.center {
    text-align: center;
  }

  .people-container, .quiz-container, .double {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
  }

  .disclaimer {
    .text {
      max-width: 350px;
      margin: auto;
    }
  }
}
</style>
