<template>
  <div>
    <div class="header">
      <img class="logo" src="@/assets/logo.png" />
    </div>
     <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        rel="stylesheet"
      />
    <div class="flex justify-center blue--text shadow"><h2>Vrai / Faux</h2></div>
    <div class="flex justify-center justify-space-evenly flex-wrap my-100">
      <Question
        question="Un entrepreneur se lance sur un secteur d’activité, il crée une
          activité économique."
        correct="Vrai"
        anwser="C’est une personne qui travaille en toute indépendance,
        elle n’est pas placée sous la subordination juridique d’une autre personne.
        Elle travaille pour elle dans le secteur d’activité choisi."
      />
      <Question
        class="card-purple"
        question="En 2021, l’entrepreneuriat n’est pas un secteur en évolution."
        correct="Faux"
        anwser="Rien qu’en 2021, il y a eu 290 000 nouveaux micro-entrepreneurs immatriculés
        et 46% des jeunes de 18 à 24 ans ont envie d’entreprendre.
"
      />
      <Question
        question="Il est difficile d’obtenir le statut d’entrepreneur."
        correct="Faux"
        anwser="Tout le monde peut obtenir le statut en quelques minutes.
        Aucun fonds financiers et compétences particulières n’est alors requis.
        Si vous avez une idée, il suffit de se lancer !

"
      />
    </div>
    <div class="flex justify-center justify-space-evenly flex-wrap my-100">
      <Question
        class="card-purple"
        question="Un créateur de contenus à une influence grâce à son exposition sur le
          web ou autre."
        correct="Vrai"
        anwser="C’est un créateur de contenus qui grâce à son exposition,
        met en avant des marques, produits ou autres.
         Que cela lui appartiennent ou non.
"
      />
      <Question
        question="Un créateur de contenus à toujours une Équipe derrière lui pour
          l’aider."
        correct="Faux"
        anwser="Il existe des créateurs de contenu avec agence et sans agence.
        Ils n’ont donc pas tous une équipe pour les soutenir.
"
      />
      <Question
        class="card-purple"
        question="Être créateur de contenus est réservé aux jeunes générations."
        correct="Faux"
        anwser="Ils existent de nombreux influenceurs qui ne sont pas de la jeune génération
        comme Studio Daniel (65 ans) ou encore macfly et carlito (35 ans).

"
      />
    </div>
    <div class="flex justify-center justify-space-evenly flex-wrap my-100">
      <Question
        question="Ce n’est pas parce que le résultat d’un créateur de contenus parait
          simple, que le travail est minime."
        correct="Vrai"
        anwser="Les créateurs de contenus ont tous un planning avec de nombreuses
         étapes à respecter pour obtenir un bon résultat.
"
      />
      <Question
        class="card-purple"
        question="Tout le monde, peut entreprendre sans objectif et motivation."
        correct="Faux"
        anwser="Certes, il est simple d’obtenir le statut d’entrepreneur,
        mais il faut être motivé pour pouvoir tout gérer et au moins avoir une idée de projet.
"
      />
      <div
        class="
          flex flex-column
          align-items-center
          blue-bg
          card
          flex-wrap
          justify-space-evenly
        "
      >
        <div class="text">
          <div class="ma-15 text-align-center">VRAI / FAUX FINI !</div>
          <div class="ma-15 text-align-center">
            Nous espérons que cela vous a permis d’en apprendre un peu plus !
          </div>
          <div class="ma-15 text-align-center">
            Contrairement aux idées reçues, être créateur de contenus n’est pas
            de tout repos. De plus, les créateurs de contenus sont des
            entrepreneurs.
          </div>
        </div>
      </div>
    </div>
     <!-- footer -->
    <footer class="social-footer">
      <div class="social-footer-icons width-20 flex1 justify-space-evenly">
        <a href="https://www.facebook.com/audelapp/"
          ><i class="fa fa-facebook" aria-hidden="true"></i></a
        ><a href="https://www.instagram.com/audela_app/"
          ><i class="fa fa-instagram" aria-hidden="true"></i></a
        ><a href="https://www.linkedin.com/company/au-delà-des-apparences"
          ><i class="fa fa-linkedin" aria-hidden="true"></i
        ></a>
      </div>
      <!-- Copyright -->
      <div class="copyright">© 2020 Copyright : Au delà des apparences</div>
    </footer>
  </div>
</template>
<script>
import Question from '@/components/Question.vue';

export default {
  name: 'Quiz',
  components: {
    Question,
  },
  data() {
    return {
      answer: false,
    };
  },
  methods: {
  },
};
</script>
<style scoped lang="scss">
.card {
  max-width: 300px;
  height: 300px;
  @media screen and (max-width: 920px) {
    max-width: unset;
    width: 100%;
  }
}
.flex {
  @media screen and (max-width: 920px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
.social-footer {
  padding: 1rem;
  background: #6658a2;
  display: flex;
  justify-content: space-between;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.copyright {
  text-align: center;
  color: white;
}
</style>
