<template>
  <div
    class="
      flex flex-column
      align-items-center
      blue-bg
      card
      flex-wrap
      justify-space-evenly
    "
  >
    <template v-if="!showResponse">
      <div class="text-align-center white--text pa-x-30">
        {{ question }}
      </div>
      <div class="text purple--text">Vrai ou faux ?</div>
      <button class="custom-button" @click="showResponse = true">
        Réponse
      </button>
    </template>
    <template v-else>
      <div class="text-align-center white--text"> {{ correct }}</div>
      <div class="text purple--text pa-x-30">
        {{ anwser }}
      </div>
      <button class="custom-button" @click="showResponse = false">
         Retour
      </button>
    </template>
  </div>
</template>
<script>
export default {
  props: ['question', 'correct', 'anwser'],
  data() {
    return {
      showResponse: false,
    };
  },
};
</script>
<style scoped lang='scss'>
.text {
  text-align: center;

  @media screen and (max-width: 920px) {
    margin: 15px 0;
  }
}

.custom-button {
  @media screen and (max-width: 920px) {
    margin-top: 30px;
  }
}

.card-purple {
  @media screen and (max-width: 920px) {
    background-color: #6658a2;
  }
  .text {
    @media screen and (max-width: 920px) {
      color: #84c5ec;
    }
  }
  .custom-button {
    @media screen and (max-width: 920px) {
      background-color: #84c5ec;
    }

  }
}
</style>
