<template>
  <div class="container">
    <router-view />
  </div>
</template>
<script>
export default {};
</script>
<style lang='scss'>
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: 30px 0;

    img.logo {
      height: 70px;
      width: auto;
    }
  }
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.text-align-center {
  text-align: center;
}

.text-align-last-center {
  @media screen and (max-width: 900px) {
    text-align-last: center;
  }
}

.ma-5 {
  margin: 5px;
}
.ma-15 {
  margin: 15px;
}

.my-100 {
  margin: 100px 0;
}

.pa-30 {
  padding: 30px;
}

.pa-x-30 {
  padding: 0 30px;
}

.full-width {
  width: 100%;
}
.width-20 {
  width: 20%;
}

.shadow {
  box-shadow: 0px 0px 1px black;
}

.pointer {
  cursor: pointer;
}

.blue-bg {
  background-color: #84c5ec;
}

.purple-bg {
  background-color: #6658a2;
}

.blue--text {
  color: #84c5ec;
}

.purple--text {
  color: #6658a2;
}

.white--text {
  color: #ffffff;
}
.custom-button {
  border-radius: 50px;
  background-color: #6658a2;
  text-align: center;
  color: white;
  border: 0;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
</style>
